{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'web/css/default.css' %} " type="text/css" rel="stylesheet" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>

    <style>
        body{
          background: url({% static "web/img/push-up-water.png" %}) no-repeat center center fixed;
          background-size: cover;
        }

    </style>
    <script>
      window.onerror=function(sMsg, sUrl, iLine)
      {
        //record_js_error(sMsg, sUrl, iLine);
      }
      var ns = {};
      ns.start_ts = new Date().getTime();
      ns.BASE_URL = '{{base_url}}';
    </script>